# Data Collections 2 (Dictionaries, Sets) and Importing Modules

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>
4) Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Importing Entire Modules <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Importing Methods Only <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Using the 'as' Keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Creating a Module <br>
5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Build a Shopping Cart <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Create Your Own Module <br>

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [20]:
rockstar = {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
}
print(rockstar)
print(type(rockstar))

{'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}
<class 'dict'>

##### Accessing Values

In [21]:
rockstar['age']

34

In [23]:
rockstar['name']

'Jake , Tate'

In [22]:
rockstar['instrument']

['guitar', 'bass', 'drums']

In [24]:
rockstar['instrument'][0]

'guitar'

In [26]:
rockstar = {
    '1': {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    '2': {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
    }

In [27]:
rockstar['2']['instrument']

['guitar']

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be '2018 Chevrolet Silverado'</p>

In [35]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}
print(f"The car that I drive is a {truck['year']} {truck['make']} {truck['model']}")

The car that I drive is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [37]:
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}
#favorite song
truck['favorite song'] = 'happy birthday'

print(truck)

{'1': {'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}, '2': {'name': 'Harry Jerry', 'age': 30, 'instrument': ['guitar']}, 'favorite song': 'happy birthday'}

##### Modifying Values

In [41]:
rockstar = {
    '1': {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    '2': {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
    }

rockstar['age'] = 35


print(rockstar)

{'1': {'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}, '2': {'name': 'Harry Jerry', 'age': 30, 'instrument': ['guitar']}, 'age': 35}

In [40]:
rockstar['age'] = rockstar['age'] + 1

print(rockstar)

{'1': {'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}, '2': {'name': 'Harry Jerry', 'age': 30, 'instrument': ['guitar']}, 'favorite song': 'happy birthday', 'age': 37}

In [48]:
rockstar = {
    '1': {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    '2': {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
    }

rockstar['2']['instrument']+=['cello']                                                
                                                                  
print(rockstar)

{'1': {'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}, '2': {'name': 'Harry Jerry', 'age': 30, 'instrument': ['guitar', 'cello']}}

##### Removing Key, Value Pairs

In [50]:
rockstar = {
    '1': {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    '2': {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
    }

del rockstar['1']

print(rockstar)

{'2': {'name': 'Harry Jerry', 'age': 30, 'instrument': ['guitar']}}

In [53]:
rockstar = {
    '1': {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    '2': {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
    }

rockstar['2'].pop('age')

print(rockstar)

{'1': {'name': 'Jake , Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}, '2': {'name': 'Harry Jerry', 'instrument': ['guitar']}}

In [56]:
rockstar = {
    'name':'Jake , Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    }



rockstar.pop('age')

print(rockstar)

{'name': 'Jake , Tate', 'instrument': ['guitar', 'bass', 'drums']}

##### Looping a Dictionary

In [57]:
# .items()
# a, b, c = 1, 2, 3
# print(a)
# print(b)
# print(c)
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

for key, value in truck.items():       #.items() to go through dictionary
    print(key, value)

year 2018
make Chevrolet
model Silverado

In [58]:
key, value = ('year', '2018')

print(key, value)

year 2018

In [62]:
key, value = ['year', '2018']

print([key, value])

['year', '2018']

truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

truck.keys()

##### Looping Only Keys

In [64]:
# .keys()

truck.values()

for val in truck.values()
    print(val)

SyntaxError: invalid syntax (4192695517.py, line 5)

##### Looping Only Values

In [ ]:
# .values()

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [73]:
# use the dict below
# “{} has {} eyes”.format(key, val)

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

# “{} has {} eyes”.format(key, val) == print("Max has blue eyes")
def general(var):
    for key, val in var.items():
        print('{} has {} eyes'.format(key, val))
    
general(people)  

# for key, val in people.items():
#     “{} has {} eyes”.format(key, val)
#   print('{} has {} eyes'.format(key, val))

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [71]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()
sorted(people.items())

[('Barney', 'blue'),
 ('Larney', 'brown'),
 ('Lilly', 'brown'),
 ('Max', 'blue'),
 ('Ted', 'purple')]

In [70]:
sorted(people.values())

['blue', 'blue', 'brown', 'brown', 'purple']

##### List with Dictionaries

In [92]:
rockstars = [
    {
    'name':'Jake Tate',
    'age': 34,
    'instrument':['guitar','bass','drums']
    },
    {
    'name':'Harry Jerry',
    'age': 30,
    'instrument':['guitar']
    }
]

rockstars[0]
# print(rockstars[0]['name'])

{'name': 'Jake Tate', 'age': 34, 'instrument': ['guitar', 'bass', 'drums']}

##### Dictionaries with Lists

In [85]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
for rockstar in rockstars:
    print(rockstar['name'])

Jake Tate
Harry Jerry

##### Dictionaries with Dictionaries

In [ ]:
# to get values, must traverse through keys
rockstar = {
        'jake': {
        'name':'Jake , Tate',
        'age': 34,
        'instrument':['guitar','bass','drums']
    },
        'hairy': {
        'name':'Harry Jerry',
        'age': 30,
        'instrument':['guitar']
    }
}
rockstar['jake']['instrument'][0]

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [ ]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [ ]:
# tracking time for dictionary
start_time = time.time()

print(d[9999999])

end_time = time.time() - start_time

print('Elapsed time for dictionary: {}'.format(end_time))


# tracking time for list
start_time = time.time()

for i in range(len(big_list)):
    if i == 9999999:
        print(i)

end_time = time.time() - start_time

print('Elapsed time for list: {}'.format(end_time))

## Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, and continues to do so until they choose to 'quit'. Once they quit, the program should print all names and addresses. <br>
<p>
<b>Proper steps:</b><br>
step 1: write a function that takes in information and stores it in a dictionary<br>
step 2: define an empty dictionary to work with<br>
step 3: create our loop, which asks the user for information until they quit<br>
step 4: ask for the information, and store it into variables<br>
step 5: check if the user types quit<br>
step 5a: print out all information<br>
step 5b: break out of the loop<br>
step 6: if they didn't quit, add the information to the dictionary<br>
step 7: invoke the function by calling it
</p>

In [54]:
from IPython.display import clear_output


# step 2
address_book = []
# step 1
def store_user_info(name, address, city):
    # address_book[key] = val\n",
    address_book.append({
        'name': name,
        'address': address,
        'city': city
    })
        
def main():
    application_running = True
    # step 3
    while application_running:
        # step 4
        name = input("Person's Name: ")
        address = input("Person's Address: ")
        city = input("Person's City: ")
            
        # step 6
        store_user_info(name, address, city)
    
        while True:
            # step 5
            quit = input("Would you like to quit? (Y/N)").lower()

            if quit == 'y':
                # step 5a
                print(address_book)
                # step 6
                application_running = False
            break
            
            elif quit == 'n':
            break
            else:
                print(f"{quit} is not a valid option, please try again.")

# step 7
main()

SyntaxError: invalid syntax (3270713757.py, line 37)

In [ ]:
#step 2
address_book = [
    {
        'name': 'Dylan',
        'address': '555 Main St',
        'city': 'Chicago'
    }
]

In [90]:
store_user_info('Dylan', '555 Main St')

In [91]:
address_book

{'Dylan': '555 Main St'}

In [2]:
# rockstars = [
#     {
#     'name':'Jake Tate',
#     'age': 34,
#     'instrument':['guitar','bass','drums']
#     },
#     {
#     'name':'Harry Jerry',
#     'age': 30,
#     'instrument':['guitar']
#     }
# ]

# rockstars[0]

rockstar = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}
#favorite song
rockstar['favorite song'] = 'happy birthday'

print(rockstar)

{'year': 2018, 'make': 'Chevrolet', 'model': 'Silverado', 'favorite song': 'happy birthday'}

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [29]:
# set() or {}
# no order {3, 2, 1} outputs as {1, 2, 3}


names = {'lucas','lucas','christina','danette'}

set(names)

{'christina', 'danette', 'lucas'}

In [12]:
type(names)

set

##### .add()

In [27]:
# set.add()
names_1 = {'lucas','lucas','christina','danette'}

names_1.add('date')

##### .remove()

In [11]:
# removes by value
# set.remove()
# nums.remove(56)

names.remove('dylan')

KeyError: 'dylan'

In [14]:
names_1 = {'lucas','lucas','christina','danette'}
names_2 = {'lucas','jeffrey','jessica','danette'}

##### .union()

In [15]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates
names_1.union(names_2)

{'christina', 'danette', 'jeffrey', 'jessica', 'lucas'}

In [17]:
names_1|names_2

{'christina', 'danette', 'jeffrey', 'jessica', 'lucas'}

##### .intersection()

In [18]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

names_1.intersection(names_2)

{'danette', 'lucas'}

In [20]:
names_1 & names_2

{'danette', 'lucas'}

##### .difference()

In [21]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

names_1.difference(names_2)

{'christina'}

In [22]:
names_2.difference(names_1)

{'jeffrey', 'jessica'}

In [23]:
names_1 - names_2

{'christina'}

In [24]:
names_2 - names_1

{'jeffrey', 'jessica'}

##### .clear()

In [26]:
# Empties the whole set
# set.clear()

print(names_1)
names_1.clear()
print(names_1)

{'lucas', 'date', 'danette', 'christina'}
set()

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [31]:
# frozenset([])

names = frozenset({'lucas','lucas','christina','danette'})

names.add('chris')

AttributeError: 'frozenset' object has no attribute 'add'

## Modules

##### Importing Entire Modules

In [36]:
# import or from 'xxx' import *
import math

math.factorial(5)

print(math.pi)

3.141592653589793

##### Importing Methods Only

In [37]:
# from 'xxx' import 'xxx'
# from math import floor

from math import factorial, floor

factorial(5)

120

##### Using the 'as' Keyword

In [41]:
# from 'xxx' import 'xxx' as 'xxx' or import 'xxx' as 'xxx'
# from math import floor as f

from math import factorial as fact, pi as pie

from math import numpy as np


def factorial(x):
    print('HI')
    
factorial(5)

fact(5)

pie

HI

3.141592653589793

##### Creating a Module

In [45]:
import factorial

ModuleNotFoundError: No module named 'factorial'

In [46]:
calculator.factorial(5)

NameError: name 'calculator' is not defined

In [42]:
from calculator import factorial

factorial(5)

ModuleNotFoundError: No module named 'calculator'

# Exercises

### 1) Build a Shopping Cart <br>
<p><b>You can use either lists or dictionaries. The program should have the following capabilities:</b><br><br>
1) Takes in input <br>
2) Stores user input into a dictionary or list <br>
3) The User can add or delete items <br>
4) The User can see current shopping list <br>
5) The program Loops until user 'quits' <br>
6) Upon quiting the program, print out all items in the user's list <br>
</p>

In [4]:
from IPython.display import clear_output

# Ask the user four bits of input: Do you want to : Show/Add/Delete or Quit?

#step 2
shopping_cart = {}

#step 1
# def store_user_info(key, value):
#     shopping_cart[key] = value

def store_user_info(name, address, city):
    shopping_cart.append({
        'name': name,
        'address': address,
        'city': city,
    })

    
def shopping():    
#step 3
    while True:
        #step 4
        name = input("Person's Name: ")

        address = input("Person's Address: ")
        
        city = input("Person's City: ")

        #step 6
        store_user_info(name, address, city)

        #step 5
        quit = input("Would you like to quit? (Y/N)").lower()

        if quit=='Y':
            #step 5a
            print(shopping_cart)
            #step 5b
            break
            
#step 7
shopping()

Person's Name: lucas
Person's Address: 370 anderhan
Person's City: san ramon

AttributeError: 'dict' object has no attribute 'append'

In [7]:
address_book = {}

def store_info(vals):
    keys = ['name', 'address', 'city']
    new_dict = {keys[i]:vals[i] for i in range(len(keys))}
    address_book[new_dict['name']] = new_dict

    
def get_info():
    running = True
    while running:
        
        asking = True
        while asking:
            valid_responses = ['a', 'v', 'q']
            user_input = input("Would you like to add another entry, view the entries, or quit? (A)dd / (V)iew / (Q)uit:  ")
            if user_input.lower() not in valid_responses:
                print(f"{user_input} is not a valid input. Please select (A)dd, (V)iew, or (Q)uit: ")
            else:
                asking = False
        
        if user_input.lower() == 'a' or user_input.lower() == 'add':
            store_info([input("Name: "), input("Address: "), input("City: ")])
            
        if user_input.lower() == 'v' or user_input.lower() == 'view':
            if not address_book:
                print("There are no entries in the address book.")
            else:
                print(address_book)
            
        if user_input.lower() == 'q' or user_input.lower() == 'quit':
            running = False
            clear_output()
            print("Quit successfully")
            break

            
get_info()

Quit successfully

### 2) Create a Module in VS Code and Import It into jupyter notebook <br>
<p><b>Module should have the following capabilities:</b><br><br>
1) Has a function to calculate the square footage of a house <br>
    <b>Reminder of Formula: Length X Width == Area<br>
        <hr>
2) Has a function to calculate the circumference of a circle <br><br>
<b>Program in Jupyter Notebook should take in user input and use imported functions to calculate a circle's circumference or a houses square footage</b>
</p>

In [6]:
import area

ModuleNotFoundError: No module named 'area'